<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Multipager Template- Travelic </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ANIMATED FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome-animation.css" rel="stylesheet" />
     <!--PRETTYPHOTO MAIN STYLE -->
    <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]--></head>
<body>
     <!-- NAV SECTION -->
         <div class="navbar navbar-inverse navbar-fixed-top">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SEE BENGAL</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="n.html">HOME</a></li>
                    <li><a href="http://127.0.0.1:5000/booking">BOOK HOTELS</a></li>
                     <li><a href="http://127.0.0.1:5000/chatbot">CHATBOT</a></li>
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
    
    <!--HOME SECTION-->
    <div id="home-sec">

   
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main" >Travel WITH US</span>
                <h3 class="head-last col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3">SEE THE BEAUTY OF BENGAL</h3>
         
                 
            </div>
        </div>
    </div>
         </div>
    

    <section  id="services-sec">
        <div class="container">
            <div class="row ">
                <div class="text-center g-pad-bottom">
                    <div class="col-md-4 col-sm-4 alert-info">
                            <h4>GREAT VERITY OF ROOMS </h4>
                            <p>
                                WE HAVE A VERITY OF ROOM FOR YOU TO CHOOSE.
                                THE ROOM TYPES ARE STANDARD, DELUXE & SUITE.
                                YOU CAN CHOOSE WHICHEVER SUITES YOU THE MOST AMONG THE CHOICES WE HAVE.
                            </p>
                            
                    </div>
                    <div class="col-md-4 col-sm-4 alert-success">
                            <h4>100%  REFUND ON CANCELLATION </h4>
                            <p>
                                WE PROVIDE 100% REFUND ON CANCELLATIONS BEFORE 24 HOURS OF CHECK-IN TIME.
                                THE REFUND IS PROCESSED WITHIN 10 DAYS OF CANCELLATION & WILL BE CREDITED IN ACCOUNT OF CHOICE.
                            </p>
                            
                    </div>
                   
                    <div class="col-md-4 col-sm-4 alert-danger">
                            <h4> FREE BREAKFAST & WIFI </h4>
                            <p>
                                DELICIOUS BREAKFAST IS SERVED WITH HEALTHY DRINKS TO HELP YOU START YOUR DAY WITH FRESH ENERGY.
                                WE ALSO PROVIDE FREE HIGH SPEED WIFI SERVICE.
                            </p>
                          
                    </div>
                </div>
                  </div>
                <div class="row go-marg">
                  
                    <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">BEACH TOUR PACKAGES </h4>
                            <p>
                                VISIT THE MOST BEAUTIFUL BEACHES LIKE DIGHA, TAJPUR, BAKKHALI, MANADAR MANI BEACH, SANKARPUR, MOUSUMI ISLAND, PIYALI ISLAND
OF BENGAL WITH US.

                                </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                   <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">HILL TOUR PACKAGES </h4>
                            <p>
                                 VISIT THE MOST BEAUTIFUL HILL STATIONS LIKE DARJEELING , SILIGURI , RISHIKHOLA, KURSEONG, DOOARS , JALPAIGURI , KALIMPONG OF BENGAL WITH US.
                                </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                     <div class="col-md-4 col-sm-4">
                          <div class="panel panel-default">
                       
                        <div class="panel-body">
                             <h4 class="adjst">FOREST TOUR PACKAGES </h4>
                            <p>
                                 VISIT THE MOST BEAUTIFUL FORESTS LIKE SONJHURI FOREST, BUXA TIGER RESERVE, GORUMARA NATIONAL PARK, SUNDARBANS OF BENGAL WITH US.
                                </p>
                             
                            
                        </div>
                    </div> 
                            
                    </div>
                </div>
          
        </div>
    </section>
    <!--END HOME SECTION-->
  
    

   

    <!--FOOTER SECTION -->
    <div id="footer">
         www.yourdomain.com | All Right Reserved
         
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.min.js"></script>  
     <!-- ISOTOPE SCRIPT   -->
    <script src="assets/plugins/jquery.isotope.min.js"></script>
    <!-- PRETTY PHOTO SCRIPT   -->
    <script src="assets/plugins/jquery.prettyPhoto.js"></script>    
    <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
